<div class="dashboard-container">
  <app-connected-clients class="connected-clients"></app-connected-clients>
  <div class="map-container">
    <app-map></app-map>
  </div>
  <div class="robots-container">
    <mat-card *ngFor="let robotId of ['robot1_102', 'robot2_102']"
              class="robot-card"
              [class.mission-active]="robotStates[robotId].isMissionActive"
              [class.identified]="!robotStates[robotId].isMissionActive && robotStates[robotId].isIdentified">
        <mat-card-header>
            <mat-card-title>Contrôle du {{ robotId }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="status-indicator"
                 [class.mission-active]="robotStates[robotId].isMissionActive"
                 [class.identified]="!robotStates[robotId].isMissionActive && robotStates[robotId].isIdentified"
                 [class.inactive]="!robotStates[robotId].isMissionActive && !robotStates[robotId].isIdentified">
                <mat-icon class="status-icon">
                    {{robotStates[robotId].isMissionActive ? 'play_circle' :
                      (robotStates[robotId].isIdentified ? 'check_circle' : 'radio_button_unchecked')}}
                </mat-icon>
                <span>
                    {{robotStates[robotId].isMissionActive ? 'Mission en cours' :
                      (robotStates[robotId].isIdentified ? 'Robot identifié' : 'En attente')}}
                </span>
            </div>
            <div class="robot-status">
                <div class="battery-status">
                    <span class="battery-label">
                        <mat-icon>battery_std</mat-icon>
                        Niveau de batterie
                    </span>
                    <ng-container *ngIf="(robotStates[robotId].battery_level || 0) > 0; else batteryUnavailable">
                        <mat-progress-bar
                            mode="determinate"
                            [value]="robotStates[robotId].battery_level"
                            [class.low-battery]="(robotStates[robotId].battery_level || 0) < 30"
                        ></mat-progress-bar>
                        <span class="battery-percentage" [class.low-battery]="(robotStates[robotId].battery_level || 0) < 30">
                            {{ robotStates[robotId].battery_level }}%
                        </span>
                    </ng-container>
                    <ng-template #batteryUnavailable>
                        <span class="battery-percentage">Non disponible</span>
                    </ng-template>
                </div>
            </div>
            <div class="mission-controls">
                <button mat-raised-button
                        color="primary"
                        (click)="startMission(robotId)"
                        [disabled]="robotStates[robotId].isMissionActive || !robotStates[robotId].isIdentified">
                    Démarrer Mission
                </button>
                <button mat-raised-button
                        color="warn"
                        (click)="stopMission(robotId)"
                        [disabled]="!robotStates[robotId].isMissionActive">
                    Arrêter Mission
                </button>
                <button mat-raised-button
                        color="primary"
                        (click)="identify(robotId)">
                    Identifier
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
