<mat-toolbar color="primary" class="navbar">
    <div class="logo">
        <span>Système Multi-Robot</span>
        <img src="android-chrome-512x512.png" alt="Logo" class="logo-image">
    </div>
    
    <div class="nav-links">
        <ng-container *ngFor="let item of navItems">
            <a mat-button
               [routerLink]="item.path"
               routerLinkActive="active-link"
               class="nav-link">
                <mat-icon>{{item.icon}}</mat-icon>
                <span class="nav-label">{{item.label}}</span>
            </a>
        </ng-container>
    </div>

    <div class="connection-status">
        <span class="status-dot connected"></span>
        <span class="status-label">Connecté</span>
    </div>
</mat-toolbar>
